@import url(../normalize.css);


@media (min-width: 320px) {


  :root{
    --color-primary:  #04b4bc  ;
    --color-secundary:rgb(39, 171, 189);
    --color-terciary:rgb(1, 156, 184);
    --color-4: rgb(100, 98, 98);
    scroll-behavior: smooth;
  }
  
  body{
    font-family: "Roboto", sans-serif;
  }
  
  header{
      font-family: 'Varela Round', sans-serif;
      overflow-x: hidden;
      height: 100%;
  }
  .logo{
    display: none;
  }
  .menu{
    display: none;
  }
  
  .idiomas{
    position: absolute;
    top: 1%;
    right: 2%;
    list-style: none;
    padding-top: 2%;
  }
  
  .idiomas button{
    background-color:rgb(241, 240, 240);
    cursor: pointer;
    padding: 0.3em 0.5em;
    border-radius: 0.5em;
    min-height: 0.1em;
    font-size: 15px;
    color:var(--color-primary);
    border: 0;
    margin-top: 8px;
  }
  .idiomas a{
    text-decoration: none;
  }
  
  .header {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 100%;
      box-shadow: none;
      background-color:var(--color-primary);
      position:absolute;
      height: 60px;
      overflow: hidden;
      z-index: 10;
  }
  .main {
      margin: 0 auto;
      display: block;
      height: 100%;
      margin-top: 60px;
  }
  .mainInner{
      display: table;
      height: 100%;
      width: 100%;
      text-align: center;
  }
  .mainInner div{
      display:table-cell;
      vertical-align: middle;
      font-size: 3em;
      font-weight: bold;
      letter-spacing: 1.25px;
  }
  #sidebarMenu {
      height: 100%;
      position:absolute;
      left: 0;
      width: 250px;
      height: 50dvh;
      margin-top: 60px;
      transform: translateX(-250px);
      transition: transform 250ms ease-in-out;
      background:var(--color-primary);
      z-index: 1;
  }
  .sidebarMenuInner{
      margin:0;
      padding:0;
      border-top: 1px solid rgba(52, 206, 245, 0.1);
  }
  .sidebarMenuInner li{
      list-style: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      padding: 20px;
      cursor: pointer;
      border-bottom: 1px solid rgba(97, 96, 96, 0.1);
  }
  .sidebarMenuInner li span{
      display: block;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.50);
  }
  .sidebarMenuInner li a{
      color: white;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
      transform: translateX(0);
  }
  
  input[type=checkbox] {
      transition: all 0.3s;
      box-sizing: border-box;
      display: none;
  }
  .sidebarIconToggle {
      transition: all 0.3s;
      box-sizing: border-box;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      height: 100%;
      width: 100%;
      top: 22px;
      left: 15px;
      height: 22px;
      width: 22px;
  }
  .spinner {
      transition: all 0.3s;
      box-sizing: border-box;
      position: absolute;
      height: 3px;
      width: 100%;
      background-color:white;
  }
  .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  .diagonal.part-1 {
      position: relative;
      transition: all 0.3s;
      box-sizing: border-box;
      float: left;
  }
  .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      position: relative;
      float: left;
      margin-top: 3px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
      transition: all 0.3s;
      box-sizing: border-box;
      opacity: 0;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(135deg);
      margin-top: 8px;
  }
  input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
      transition: all 0.3s;
      box-sizing: border-box;
      transform: rotate(-135deg);
      margin-top: -9px;
  }
  
  /*Beneficios SECCION1*/
  
  .section-beneficios{
    width: 100%;
    height: 190dvh
  }
  
  .container-img{
    width: 100%;
    height: 32dvh;
    background-image: url(../img-beneficios/contacto2-removebg-preview.png.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20%;
  }
  .container-img h1{
    color: rgb(255, 255, 255);
    font-size: 24px;
    position: absolute;
    top: 15%;
    left: 38%;
    animation: slideleft 2s ease-out forwards;
  }
  
  @keyframes slideleft {
    0% {
      transform: translateX(50px); /* Desplazamiento inicial hacia abajo */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* Sin desplazamiento vertical */
      opacity: 1;
    }
  }
  
  .container {
      height: 170dvh;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      gap: 45px;
      align-items: center;
      padding: 15px;
    }
    
    .card {
      width: 190px;
      height: 250px;
      border-radius: 5%;
      text-align: center;
      background-color:#41c9db3f;
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
      animation: slideUp 1s ease-out forwards;
      opacity: 0;
    }
  
  .img1{
    padding: 10px;
    width: 90px;
    height: 80px;
  } 
  
  .img2{
    padding: 10px;
    width: 120px;
    height: 80px;
  }
  
  .img3{
    width: 145px;
    height: 75px;
    padding: 10px;
  }
  
  .img4{
    width: 150px;
    height: 85px;
    padding: 10px;
  
  }
    
  .card p{
    font-size: 15px;
    text-align: center;
    padding: 6px;
    color: rgb(88, 87, 87);
    }
  
    @keyframes slideUp {
      0% {
        transform: translateY(50px); /* Desplazamiento inicial hacia abajo */
        opacity: 0;
      }
      100% {
        transform: translateY(0); /* Sin desplazamiento vertical */
        opacity: 1;
      }
    }
    
    /* Agregar un retraso a cada tarjeta para crear un efecto secuencial */
    .card:nth-child(1) {
      animation-delay: 1s;
    }
    .card:nth-child(2) {
      animation-delay: 2s;
    }
    .card:nth-child(3) {
      animation-delay: 3s;
    }
    .card:nth-child(4) {
      animation-delay: 4s;
    }
  .card5{
    display: none;
  }
  .card6{
    display: none;
  }
  
    
    /*FOOTER*/
  
    .logo-foot img{
      width: 220px;
    }
    
    .footer {
      height: 60dvh;
      background-color:  #04b4bc ;
      color: rgb(59, 59, 59);
      padding: 20px;
      display: flex;
      flex-direction: column;
      z-index: 1;
      text-align: center;
    }
    
    .section {
      margin-bottom: 20px;
    }
    
    .section h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .section p{
      font-size: 14px;
      animation: slideInFromBottom 4s ease forwards;
    }
    
    .section-redes{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 15px;
    }
    
    .social-links {
      list-style-type: none;
      display: flex;
      justify-content: center;
      animation: slideInFromBottom 5s ease forwards;
    
    }
    
    .social-links li{
      margin-left: -38px;
    }
    
    .social-links li i{
      margin-bottom: 5px;
      padding: 5px;
    }
    
    .fa-brands{
      color: rgb(65, 64, 64);
      font-size: 20px;
      text-decoration: none;
      text-align: center;
      animation: slideInFromBottom 6s ease forwards;
    }
    
    }
  
  
    /*MEDIA TABLET*/
    
  @media screen and (min-width: 768px) {
  
    
  
    /*HEADER*/
  
    .logo-header{
      width: 190px;
      display: block;
      position: absolute;
      left: -0.2dvh;
      top: 1%;
      border-radius: 5%;
    }
  
    .header{
      display: none;
    }
    .main{
      display: none;
    }
    #sidebarMenu {
      display: none;
  }
  .sidebarIconToggle{
    display: none;
  }
  
  header{
    height: 15dvh;
  }
  
  .menu {
    width: 100%;
    height: 15dvh;
    display: block;
    background-color:#04b4bc;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu-items {
    margin-top: 7dvh;
    margin-right: -9.2%;
    list-style: none;
    display: flex;
    align-items:center;
    gap: 5px;
    font-size: 15.7px;
  }
  
  .menu-items li {
    margin-right: 10px;
    margin-bottom: 10px;
  }
  
  .menu-items li:last-child {
    margin-right: 0
  }
  
  .menu-items a {
    color: #ffffff;
    text-decoration: none;
    transition: all 2s ease-in;
  }
  
  
  .menu-items a:hover {
    text-decoration: underline 1.5px #139aa1;
    cursor: pointer;
  }
  
  /* BUTTON IDIOMAS */
  .radio-inputs {
    position: relative;
    top: -7.2dvh;
    left: -13%;
    display: flex;
    flex-wrap: wrap;
    border-radius: 0.5rem;
    background-color:#b9b9b98e;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
    padding: 0.2rem;
    width: 68px;
    font-size: 12px;
  }
  
  .radio-inputs .radio {
    flex: 1 1 auto;
    text-align: center;
  }
  
  .radio-inputs .radio input {
    display: none;
  }
  
  .radio-inputs .radio .name a{
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border: none;
    padding: .4rem ;
    padding-bottom: 3px;
    text-align: center;
    color:#fff;
    transition: all .15s ease-in-out;
  }
  
  .radio-inputs .radio input:checked + .name a{
    background-color: #00AEBD;
    font-weight: 600;
  }
  
  
    /*Beneficios SECCION1*/
    
    .section-beneficios{
      width: 100%;
      height: 180dvh;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .container-img{
      width: 100%;
      height: 32dvh;
      background-image: url(../img-beneficios/contacto2-removebg-preview.png.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      margin-bottom: 5%;
      margin-top: 8%;
    }
    
    
    .container-img h1{
      position: absolute;
      left: 40%;
      top: 30%;
      color: rgb(255, 255, 255);
      text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.589);
      font-size: 35px;
      animation: slideleft 2s ease-out forwards;
    }
    
    
    
    @keyframes slideleft {
      0% {
        transform: translateX(50px); /* Desplazamiento inicial hacia abajo */
        opacity: 0;
      }
      100% {
        transform: translateX(0); /* Sin desplazamiento vertical */
        opacity: 1;
      }
    }
    
    .container {
      width: 70dvh;
      height: 150dvh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      gap: 15px;
      flex-wrap: wrap;
      align-items: center;
      }
      
      .card {
        width: 200px;
        height: 250px;
        border-radius: 5%;
        text-align: center;
        background-color:var(--color-primary);
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
        animation: slideUp 2s ease-out forwards;
        opacity: 0;
      }
    
    .img1{
      padding: 10px;
      width: 90px;
      height: 80px;
    } 
    
    .img2{
      padding: 10px;
      width: 120px;
      height: 80px;
    }
    
    .img3{
      width: 145px;
      height: 75px;
      padding: 10px;
    }
    
    .img4{
      width: 150px;
      height: 85px;
      padding: 10px;
    }
  
    .card5{
      display: block;
    }
  
    .img5{
      width: 80px;
      height: 85px;
      padding-left: 10px;
    
    }
  
    .card6{
      display: block;
    }
    .img6{
      width: 90px;
      height: 85px;
      padding: 10px;
    
    }
      
    .card p{
      font-size: 15px;
      text-align: center;
      padding: 6px;
      color: rgb(255, 255, 255);
      }
    
      @keyframes slideUp {
        0% {
          transform: translateY(50px); /* Desplazamiento inicial hacia abajo */
          opacity: 0;
        }
        100% {
          transform: translateY(0); /* Sin desplazamiento vertical */
          opacity: 1;
        }
      }
      
      /* Agregar un retraso a cada tarjeta para crear un efecto secuencial */
      .card:nth-child(1) {
        animation-delay: 1s;
      }
      .card:nth-child(2) {
        animation-delay: 1s;
      }
      .card:nth-child(3) {
        animation-delay: 2s;
      }
      .card:nth-child(4) {
        animation-delay: 2s;
      }
      
      .card:nth-child(5) {
        animation-delay: 3s;
      }
      
      .card:nth-child(6) {
        animation-delay: 3s;
      }
    
    
     /*FOOTER*/
  
  .logo-foot img{
    width: 265px;
    position: absolute;
    left: 34%;
    top: 197%;
    animation: slideInFromBottom 4s ease forwards;
  }
  
  @keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .footer {
    height: 50dvh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
  }
  
  .section h2 {
    font-size: 19px;
  }
  
  .section p{
    font-size: 16px;
    animation: slideleft 4s ease-out forwards;
  }
  
  
  .sec1foot h2 {
    font-size: 19px;
  }
  
  .sec1foot p{
    font-size: 16px;
    animation: slideleft 4s ease-out forwards;
  }
  
  .sec2foot {
    margin-top: 8%;
  }
  
  .sec1foot{
    margin-top: -1%;
  }
  .sec3foot{
    margin-top: 4%;
  }
  
  .section-redes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
  }
  
  .social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    animation: slideleft 5s ease-out forwards;
  
  }
  
  .social-links li i{
    margin-bottom: 5px;
    padding: 5px;
  }
  
  .fa-brands{
    font-size: 30px;
    animation: slideleft 5s ease-out forwards;
  }
  
  .container-secciones{
    width: 100%;
    height: 40dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px black;
  }
  
  @keyframes slideleft {
    0% {
      transform: translateX(50px); /* Desplazamiento inicial hacia abajo */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* Sin desplazamiento vertical */
      opacity: 1;
    }
  }
  .barra-foot{
    display: none;
  }
  
  }
  /*MEDIA LAPTOP*/
  
  @media (min-width: 1024px)
  {
    header{
      height: 14dvh;
    }
    
    .logo-header{
      width: 200px;
    }
    
    
    .menu {
      width: 100%;
      height: 17dvh;
      display: block;
      background-color:#04b4bc;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    
    .menu-items {
      margin-top: 7dvh;
      margin-right:1%;
      gap: 25px;
      font-size: 17px;
    }
  
  /* BUTTON IDIOMAS */
  .radio-inputs {
    position: relative;
    top: -7.8dvh;
    left: -0.1%;
    font-size: 13px;
  }  
  
  
  /*SECCION BENEFICIOS*/
  
  
  .section-beneficios{
    width: 100%;
    height: 150dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .container-img{
    width: 100%;
    height: 30dvh;
    background-position: center;
    margin-bottom: 5%;
    margin-top: -10%;
  }
  
  
  .container-img h1{
    left: 45%;
    top: 32%;
  }
  
  
  .container {
    width: 80dvh;
    height: 80dvh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    }
    
    .card {
      width: 200px;
      height: 250px;
      border-radius: 5%;
      text-align: center;
      background-color:var(--color-primary);
      box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
      animation: slideUp 2s ease-out forwards;
      opacity: 0;
    }
  
  
  /*FOOTER*/
  
  .logo-foot img{
    width: 265px;
    position: absolute;
    left: 39%;
    top: 167%;
    animation: slideInFromBottom 4s ease forwards;
  }
  
  @keyframes slideInFromBottom {
    from {
      transform: translateY(100%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .footer {
    height: 50dvh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
  }
  
  .section h2 {
    font-size: 19px;
  }
  
  .section p{
    font-size: 16px;
    animation: slideleft 4s ease-out forwards;
  }
  
  
  .sec1foot h2 {
    font-size: 19px;
  }
  
  .sec1foot p{
    font-size: 16px;
    animation: slideleft 4s ease-out forwards;
  }
  
  .sec2foot {
    margin-top: 2%;
  }
  
  .sec1foot{
    margin-top: -3%;
  }

  
  .sec3foot{
    margin-top: 1%;
  }
  
  .section-redes{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 15px;
  }
  
  .social-links {
    list-style-type: none;
    display: flex;
    justify-content: center;
    animation: slideleft 5s ease-out forwards;
  
  }
  
  .social-links li i{
    margin-bottom: 5px;
    padding: 5px;
  }
  
  .fa-brands{
    font-size: 30px;
    animation: slideleft 5s ease-out forwards;
  }
  
  .container-secciones{
    width: 100%;
    height: 40dvh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 1px black;
  }
  
  @keyframes slideleft {
    0% {
      transform: translateX(50px); /* Desplazamiento inicial hacia abajo */
      opacity: 0;
    }
    100% {
      transform: translateX(0); /* Sin desplazamiento vertical */
      opacity: 1;
    }
  }
  
  .barra-foot{
    display: none;
  }
  }
  
  @media (min-width: 1240px){
  
    
    .logo-header{
      width: 260px;
    }
    
  header{
    height: 18dvh;
  }
  
  
  .menu {
    width: 100%;
    height: 18dvh;
    align-items: center;
  }
  
  .menu-items {
    margin-top: 9.5dvh;
    margin-right:4%;
    gap: 25px;
    font-size: 20px;
  }
  
  
  .radio-inputs {
    position: relative;
    top: -7.5dvh;
    left: 4%;
    width: 75px;
    font-size: 15.5px;
  }
  
  /*SECCION BENEFICIOS DESKTOP */
  
  .container{
    width: 100dvh;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .card {
    width: 210px;
    height: 300px;
    border-radius: 5%;
    text-align: center;
    background-color:var(--color-primary);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
    animation: slideUp 2s ease-out forwards;
    opacity: 0;
    margin-bottom:15%;
  }
  
  .img1{
  padding: 10px;
  width: 90px;
  height: 80px;
  } 
  
  .img2{
  padding: 10px;
  width: 120px;
  height: 80px;
  }
  
  .img3{
  width: 145px;
  height: 75px;
  padding: 10px;
  }
  
  .img4{
  width: 150px;
  height: 85px;
  padding: 10px;
  
  }
  
  .img5{
  width: 80px;
  height: 85px;
  padding: 10px;
  
  }
  
  .img6{
  width: 90px;
  height: 85px;
  padding: 10px;
  
  }
  
  .card p{
  font-size: 16px;
  text-align: center;
  padding: 6px;
  color: rgb(255, 255, 255);
  }
  
  @keyframes slideUp {
    0% {
      transform: translateY(50px); /* Desplazamiento inicial hacia abajo */
      opacity: 0;
    }
    100% {
      transform: translateY(0); /* Sin desplazamiento vertical */
      opacity: 1;
    }
  }
  
  /* Agregar un retraso a cada tarjeta para crear un efecto secuencial */
  .card:nth-child(1) {
    animation-delay: 1s;
  }
  .card:nth-child(2) {
    animation-delay: 1s;
  }
  .card:nth-child(3) {
    animation-delay: 2s;
  }
  .card:nth-child(4) {
    animation-delay: 2s;
  }
  
  .card:nth-child(5) {
    animation-delay: 3s;
  }
  
  .card:nth-child(6) {
    animation-delay: 3s;
  }
  
  
  
  
  /*------------FOOTER---------*/
  .footer {
    height: 48dvh;
  }
  .logo-foot img{
    width: 300px;
    position: absolute;
    left: 40%;
    top: 170%;
    animation: slideInFromBottom 4s ease forwards;
  }
  
  .container-secciones{
    width: 80%;
  }
  
  .sec2foot {
    margin-top: 1%;
  }
  .sec2foot h2{
    font-size: 22px;
  }
  .sec2foot p{
    font-size: 18px;
  }
  .sec1foot{
    margin-top: -4%;
  }
  .sec1foot h2{
    font-size: 22px;
  }
  .sec1foot p{
    font-size: 18px;
  }
  
  .sec3foot {
    margin-top: -3%;
  }
  .sec3foot h2{
    font-size: 22px;
  }
  .sec3foot p{
    font-size: 18px;
  }
  }